<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.streamstech.droid.mshtb">

    <uses-permission android:name="com.streamstech.droid.mshtb.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".util.MSHTBApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="${applicationId}.provider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/provider_paths"/>-->
        <!--</provider>-->

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_verification"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PushDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewMainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.streamstech.droid.mshtb.activity.NewMainActivity" />
        </activity>
        <activity
            android:name=".activity.ScreeningActivity"
            android:label="Screening"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TestIndicationActivity"
            android:label="Test Indication"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PatientDetailsActivity"
            android:label="Patient Details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.XRayResultActivity"
            android:label="X-Ray Result"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.XPertResultActivity"
            android:label="Xpert MRB/RIF Result"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SmearResultActivity"
            android:label="AFB Smear"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.HistiopathologyResultActivity"
            android:label="Histopathology Result"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETRegistrationActivity"
            android:label="PET Registration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETEnrollmentActivity"
            android:label="PET Enrollment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETProfileActivity"
            android:label="Index Patient Profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETSymptomActivity"
            android:label="Contact Symptom Screen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETTestOrderActivity"
            android:label="Contact Test Order"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETTestResultActivity"
            android:label="Contact Test Result"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TreatmentInitiationActivity"
            android:label="Treatment Initiation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TreatmentOutcomeActivity"
            android:label="Treatment Outcome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.DoctorsDecisionActivity"
            android:label="Doctor&apos;s Decision"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.BaseSearchActivity" />
        <activity
            android:name=".activity.PETEligibilityQuestionnaireActivity"
            android:label="Treatment Eligibility"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETTreatmentStartActivity"
            android:label="Treatment Start"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETTreatmentAdherenceNewActivity"
            android:label="Treatment Adherence"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETFollowupActivity"
            android:label="Treatment Followup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETFollowupNewActivity"
            android:label="Followup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETClinicianFollowupNewActivity"
            android:label="Clinician Followup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETClinicianTBFollowupNewActivicity"
            android:label="Clinician TB Followup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETAdverseEventsNewActivity"
            android:label="Adverse Event"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PETEndFollowupActivity"
            android:label="End of Followup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SyncActivity"
            android:label="Sync"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.FileBrowserActivity"
            android:label="SQLite File Browser"
            android:screenOrientation="portrait" ></activity>
    </application>

</manifest>